
@{
    ViewData["Title"] = "主页";
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}



<body>


    <div class="content">
        <div class="cont w1000">
            @*<div class="title">
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="javascript:;" class="active">设计文章</a>
                    <a href="javascript:;">前端文章</a>
                    <a href="javascript:;">旅游杂记</a>
                </span>
            </div>*@
            <div class="list-item">

                @foreach (var item in ViewBag.ContentHome)
                {
                    <div class="item">
                        <div class="layui-fluid">
                            <div class="layui-row">
                                <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                                    <div class="img">
                                        @foreach (var Imgs in ViewBag.ImgHome)
                                        {
                                            if (Imgs.ContentID== item.ID)
                                            {
                                                <img src="@Imgs.Thum_fileRel" alt="">
                                            }

                                        }

                                    </div>
                                </div>
                                <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                                    <div class="item-cont">
                                        <h3>@item.Title<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                                        <h5></h5>
                                        <p>@item.Description</p>
                                        <a href="@Url.Action("Details","FrontHome",new { contentId=item.ID})" class="go-icon"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="demo" style="text-align: center;"></div>
        </div>
    </div>

</body>